JWT_SECRET=idmS5vyurNbEyliam6xWWcRlaLgClpjr4NXvmmp0PN4=

RABBITMQ_USERNAME=broker_user
RABBITMQ_PASSWORD=broker_password
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

ADMIN_USERNAME=administrator
ADMIN_PASSWORD=secretpassword123